body {
    background-color: black;
    color: white;
    font-family: monospace;
}
#maze {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fog-of-war{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btn-play {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
#btn-return {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}