body {
    background-color: black;
}
#maze {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fog-of-war{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}